
.table-img {
    object-fit: cover;
    max-width: 3em;
    max-height: 3em;
    border-radius: 50%;
}

.table-row:nth-child(odd) {
    background-color: #f1f1f1;
}

.table-row {
    transition: .4s;
}
.table-row:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 #f1f1f1;
}


.profil-picture {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    object-fit: cover;
}

.card {
    border-radius: 1em;
    transition: .4s;
    box-shadow: 2px 2px 15px rgba(0,0,0,.07); 
}

.card-header {
    border-radius: 1em 1em 0 0 !important;
}
.card-header-action {
    border-radius: 1em !important;
    transition: .4s;
    border: 0;
}
.card-header-action:hover {
    background-color: #4b89da;
    color: White;
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 2px 2px 15px rgba(0,0,0,.07); 
}
.card-footer {
    border-radius: 0 0 1em 1em !important;
}
.card-profil:hover {
    transform: scale(1.05);
}

.card-link {
    text-decoration: none;
    color: inherit;
    transition: .4s;
}
.card-link:hover {
    color: inherit;
    transform: scale(1.05);
}
