{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <!-- Titre et Action -->
    <div class="row d-flex align-items-center my-4">
        <div class="col">
            <h1 class="my-4">Liste des Catégories</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary" href="{{ path ('category_create')}}">Ajouter une catégorie</a>
        </div>
    </div>
    
    <!-- En tête tableau -->
    <div class="row my-2 py-1">
        <div class="col">
            <span class="fw-bold">Nom</span>
        </div>
        <div class="col"></div>
    </div>

    <!-- Tableau -->
    {% for category in categories %}
        <!-- Row Skill -->
        <div class="row d-flex align-items-center my-2 py-2 rounded table-row">
            <div class="col">
                {{ category.name }}
            </div>
            <div class="col text-end">
                <a class="blue-3  mx-1" href="{{ path ('category_edit', {'id': category.id})}}"><i class="far fa-pen fa-fw"></i></a>
                <a class="grape-3 mx-1" href="{{ path ('category_delete', {'id': category.id})}}"><i class="far fa-times fa-fw"></i></a>
            </div>
        </div>

    {% endfor %}

{% endblock %}
