{% extends 'base.html.twig' %}

{% block title %}Modifier une entreprise
{% endblock %}

{% block body %}

    <!-- Titre et Action -->
    <div class="row d-flex align-items-center my-4">
        <div class="col">
            <h1 class="my-4">Modifier une entreprise</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary" href="{{ path ('entreprises')}}">Retour</a>
        </div>
    </div>

	{{ form_start(formView) }}

	<div class="row">
		<div class="col">{{ form_row(formView.name) }}</div>
		<div class="col"></div>
	</div>
    <div class="row">
		<div class="col"><button type="submit" class="btn btn-primary">Modifier l'entreprise</button></div>
	</div>

	{{ form_end(formView) }}

{% endblock %}
