{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
    <div class="container">

        <h1>Liste des Entreprises</h1>
        
        {% for entreprise in entreprises %}
            
            <!-- Row Skill -->
            <div class="row">
                <div class="col">
                    {{ entreprise.id }}
                </div>
                <div class="col">
                    {{ entreprise.name }}
                </div>
                <div class="col">
                    <p>action</p>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
